<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Listado</title></head>
<body>
<h1>Listado de 10 personas</h1> <table border="1">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>DNI</th>
        <th>Fecha Nacimiento</th>
        <th>Edad</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${personas}">
        <td th:text="${p.nombre}"></td>
        <td th:text="${p.apellidos}"></td>
        <td th:text="${p.dni}"></td>
        <td th:text="${p.fechaNacimiento}"></td>
        <td th:text="${p.getEdad()}"></td> </tr>
    </tbody>
</table>
<p><a href="/">Volver</a></p>
</body>
</html>